{% extends 'admin/base.html.twig' %}

{% block title %}Reset your password{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h1 class="h3 mb-4 text-center">Reset your password</h1>

                    {{ form_start(form) }}
                        {{ form_row(form.email) }}
                        <p class="text-muted small mb-3">
                            Enter your email address, and we will send you a link to reset your password.
                        </p>

                        <button type="submit" class="btn btn-primary w-100">Send password reset email</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
