/* App-specific styles */
body {
    /* This is to counter Boostrap modal that are a bit wild */
    min-height: 100%;
    position: relative;
    height: auto !important;
    padding-right: 0 !important;
}

.card-body-tight {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}