/.castor.stub.php
/docker-compose.override.yml
/infrastructure/docker/services/router/certs/*.pem

# Media
/api/public/storage

# Tools
.php-cs-fixer.cache
.twig-cs-fixer.cache
/var
/client/.env
*.afdesign
/shared/node_modules
