# This docker compose file is meant for development only
# ⚠️ Don't use it in production
volumes:
    postgres-data: {}

services:
    router:
        build: infrastructure/docker/services/router
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "./infrastructure/docker/services/router/certs:/etc/ssl/certs"
        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"
        networks:
            - default
        profiles:
            - default

    postgres:
        image: postgres:16
        environment:
            - POSTGRES_USER=app
            - POSTGRES_PASSWORD=app
        volumes:
            - postgres-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
        profiles:
            - default
        ports:
            - "5432:5432"

    server: &server-base
        build:
            dockerfile: infrastructure/docker/services/php/Dockerfile
            context: ./
            target: server
        user: "${USER_ID}:${USER_ID}"
        volumes:
            - "./:/var/www:cached"
            - "./.home:/home/app:cached"
        depends_on:
            postgres:
                condition: service_healthy
        extra_hosts:
            - "hivecache.test:127.0.0.1"
        profiles:
            - default
        labels:
            - "traefik.enable=true"
            - "project-name=${PROJECT_NAME}"
            - "traefik.http.routers.${PROJECT_NAME}-server.rule=Host(`${PROJECT_ROOT_DOMAIN}`)"
            - "traefik.http.routers.${PROJECT_NAME}-server.priority=10"
            - "traefik.http.routers.${PROJECT_NAME}-server.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-server.service=${PROJECT_NAME}-server"
            - "traefik.http.services.${PROJECT_NAME}-server.loadbalancer.server.port=80"

    server2:
        <<: *server-base
        env_file:
            -   path: ./server/.env.server2
                required: true
            -   path: ./server/.env.server2.local
                required: false
        extra_hosts:
            - "server2.hivecache.test:127.0.0.1"
        labels:
            - "traefik.enable=true"
            - "project-name=${PROJECT_NAME}"
            - "traefik.http.routers.${PROJECT_NAME}-server2.rule=Host(`server2.${PROJECT_ROOT_DOMAIN}`)"
            - "traefik.http.routers.${PROJECT_NAME}-server2.priority=10"
            - "traefik.http.routers.${PROJECT_NAME}-server2.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-server2.service=${PROJECT_NAME}-server2"
            - "traefik.http.services.${PROJECT_NAME}-server2.loadbalancer.server.port=80"

    swagger:
        image: swaggerapi/swagger-ui:latest
        environment:
            - URL=https://hivecache.test/docs
        profiles:
            - default
        labels:
            - "traefik.enable=true"
            - "project-name=${PROJECT_NAME}"
            - "traefik.http.routers.${PROJECT_NAME}-swagger.rule=Host(`${PROJECT_ROOT_DOMAIN}`) && PathPrefix(`/swagger`)"
            - "traefik.http.routers.${PROJECT_NAME}-swagger.priority=20"
            - "traefik.http.routers.${PROJECT_NAME}-swagger.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-swagger.service=${PROJECT_NAME}-swagger"
            - "traefik.http.services.${PROJECT_NAME}-swagger.loadbalancer.server.port=8080"
            - "traefik.http.middlewares.${PROJECT_NAME}-swagger-replacepath.replacepathregex.regex=^/swagger(.*)"
            - "traefik.http.middlewares.${PROJECT_NAME}-swagger-replacepath.replacepathregex.replacement=$$1"
            - "traefik.http.routers.${PROJECT_NAME}-swagger.middlewares=${PROJECT_NAME}-swagger-replacepath"
            - "traefik.http.routers.${PROJECT_NAME}-swagger-assets.rule=Host(`${PROJECT_ROOT_DOMAIN}`) && (Path(`/swagger-ui-bundle.js`) || Path(`/swagger-ui-standalone-preset.js`) || Path(`/swagger-initializer.js`) || Path(`/swagger-ui.css`))"
            - "traefik.http.routers.${PROJECT_NAME}-swagger-assets.priority=25"
            - "traefik.http.routers.${PROJECT_NAME}-swagger-assets.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-swagger-assets.service=${PROJECT_NAME}-swagger"

    maildev:
        platform: linux/amd64
        image: djfarrelly/maildev
        command: [ "bin/maildev", "--web", "8025", "--smtp", "2525", "--hide-extensions", "STARTTLS" ]
        labels:
            - "traefik.enable=true"
            - "project-name=${PROJECT_NAME}"
            - "traefik.http.routers.${PROJECT_NAME}-maildev.rule=Host(`mail.${PROJECT_NAME}.test`)"
            - "traefik.http.routers.${PROJECT_NAME}-maildev.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-maildev.service=${PROJECT_NAME}-maildev"
            - "traefik.http.services.${PROJECT_NAME}-maildev.loadbalancer.server.port=8025"

    builder: &builder-base
        build:
            dockerfile: infrastructure/docker/services/php/Dockerfile
            context: ./
            target: builder
        init: true
        user: "${USER_ID}:${USER_ID}"
        environment:
            # The following list contains the common environment variables exposed by CI platforms
            - GITHUB_ACTIONS
            - CI # Travis CI, CircleCI, Cirrus CI, Gitlab CI, Appveyor, CodeShip, dsari
            - CONTINUOUS_INTEGRATION # Travis CI, Cirrus CI
            - BUILD_NUMBER # Jenkins, TeamCity
            - RUN_ID # TaskCluster, dsari
        volumes:
            - "./:/var/www:cached"
            - "./.home:/home/app:cached"
        depends_on:
            - postgres
        ports:
            - "3000:3000"
        extra_hosts:
            - "external_ap_server.test:127.0.0.1"
        profiles:
            - builder

    builder2:
        <<: *builder-base
        env_file:
            -   path: ./server/.env.server2
                required: true
            -   path: ./server/.env.server2.local
                required: false
