# This docker compose file is not production ready
# ⚠️ Don't use it in production
volumes:
    postgres-data: {}

services:
    router:
        build: infrastructure/docker/services/router
        volumes:
            - "/var/run/docker.sock:/var/run/docker.sock"
            - "./infrastructure/docker/services/router/certs:/etc/ssl/certs"
        ports:
            - "80:80"
            - "443:443"
            - "8080:8080"
        networks:
            - default
        profiles:
            - default

    gotenberg:
        image: gotenberg/gotenberg:8.12
        restart: "no"
        environment:
            LOG_LEVEL: DEBUG

    postgres:
        image: postgres:16
        environment:
            - POSTGRES_USER=app
            - POSTGRES_PASSWORD=app
        volumes:
            - postgres-data:/var/lib/postgresql/data
        healthcheck:
            test: ["CMD-SHELL", "pg_isready -U postgres"]
            interval: 5s
            timeout: 5s
            retries: 5
        profiles:
            - default
        ports:
            - "5432:5432"

    api:
        build:
            dockerfile: infrastructure/docker/services/php/Dockerfile
            context: ./
            target: api
        user: "${USER_ID}:${USER_ID}"
        volumes:
            - "./:/var/www:cached"
            - "./.home:/home/app:cached"
        depends_on:
            postgres:
                condition: service_healthy
        profiles:
            - default
        labels:
            - "traefik.enable=true"
            - "project-name=${PROJECT_NAME}"
            # Middleware to strip /api prefix
            - "traefik.http.middlewares.${PROJECT_NAME}-strip-api-prefix.stripPrefix.prefixes=/api"
            # Route /api and /storage to api app
            - "traefik.http.routers.${PROJECT_NAME}-api.rule=Host(${PROJECT_DOMAINS}) && (PathPrefix(`/api`) || PathPrefix(`/storage`) || PathPrefix(`/_profiler`))"
            - "traefik.http.routers.${PROJECT_NAME}-api.priority=10"
            - "traefik.http.routers.${PROJECT_NAME}-api.tls=true"
            - "traefik.http.routers.${PROJECT_NAME}-api.service=${PROJECT_NAME}-api"
            - "traefik.http.services.${PROJECT_NAME}-api.loadbalancer.server.port=80"

    builder:
        build:
            dockerfile: infrastructure/docker/services/php/Dockerfile
            context: ./
            target: builder
        init: true
        user: "${USER_ID}:${USER_ID}"
        environment:
            # The following list contains the common environment variables exposed by CI platforms
            - GITHUB_ACTIONS
            - CI # Travis CI, CircleCI, Cirrus CI, Gitlab CI, Appveyor, CodeShip, dsari
            - CONTINUOUS_INTEGRATION # Travis CI, Cirrus CI
            - BUILD_NUMBER # Jenkins, TeamCity
            - RUN_ID # TaskCluster, dsari
        volumes:
            - "./:/var/www:cached"
            - "./.home:/home/app:cached"
        depends_on:
            - postgres
        profiles:
            - builder
