<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}HiveCache{% endblock %}</title>
        <link rel="icon" type="image/svg+xml" href="/icon.svg">
        {% block stylesheets %}
        {% endblock %}
        {% block javascripts %}
        {% endblock %}
    </head>
    <body>
        {% block body %}
            <h1>Welcome to HiveCache!</h1>
            <h2>A decentralized social bookmarking service based on the Activity Pub protocol.</h2>
            <p>
                Each bookmark is also a snapshot of the page at a specific point in time,
                similar to how the Internet Archive works.
            </p>
            <p>
                The goal is twofold: to save bookmarks and archive the given page,
                all in a decentralized manner for greater resilience.
            </p>
        {% endblock %}
    </body>
</html>
