{% extends 'admin/base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-6 col-lg-4">
            <div class="card shadow">
                <div class="card-body p-4">
                    <h1 class="h3 mb-4 text-center">Register</h1>

                    {{ form_start(form) }}
                        {{ form_row(form.email) }}
                        {{ form_row(form.plainPassword, {label: 'Password'}) }}

                        <button type="submit" class="btn btn-primary w-100">Register</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
